@model User

@{
    ViewData["Title"] = "Delete user confirmation";
}

<style>

    .main-content-layout {
        display: grid;
        border: 2px solid #333;
        gap: 20px;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .btn-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    .btn-layout .d-grid {
        width: auto;
        display: block;

    .btn-delete, .btn-cancel {
        background: #cca808;
        border: 2px solid #333;
        font-weight: bold;
        cursor: pointer;
        width: 100px;
        height: 40px;
        font-size: 1.2rem;
        padding: 0px;
        
    }

    .view-details-btn:hover {
        background: #e7e07b;
    }

</style>

<div class="text-center">
    
    
    <div class="main-content-layout">

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @TempData["Error"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                @TempData["Success"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form asp-action="HandleDeleteUserCheck" method="post">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)

            <h1>Are you sure you want to delete user @Model.Username?</h1>
            <div class="btn-layout">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-delete">Delete</button>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-cancel">Cancel</button>
                </div>
            </div>
        </form>

    </div>
</div>